
<div class="navbar">
<% if (currentUser) { %>
    Welcome <%=currentUser.username%>!
    <a href="/new">Add a New Color</a>
   
    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout"/>
    </form>
   
    <% } else { %>
    <div class="login">
    <h3>Please </br>
    <a  href="/users/new">Sign Up</a>
    or
    <a  href="/sessions/new">Log In</a>
    <% } %></h3>
</div> 
</div>