/* NAV */
.navbar{
    background-color:rgb(52, 115, 48, .8);
    color:rgb(245,245,245);
    font: arial;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

} 

.navbar > a{
    color:rgb(245,245,245)
}

/* SHOW PAGE */
.show-id {
    height: 180px;
    width: 180px;
    border-radius: 25px;
    border: 2px black solid;
    padding: 25px;
}

.show-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15% 25% 15% 25%
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INDEX  */
.body-container {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
 .color-id {
    height: 90px;
    width: 90px;
    border-radius: 25px;
    border: 2px black solid;
    padding: 25px;
    margin: 15px 15px 0px 15px;
}
.name > a{
    color: black
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.new-page, .edit-page {
    margin: 15% 25% 30% 25%
}

.login {
    font: arial;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  @-webkit-keyframes wiggle
  {
      0% {-webkit-transform: rotateZ(2deg);}
      50% {-webkit-transform: rotateZ(-2deg);}
      100% {-webkit-transform: rotateZ(2deg);}
  }
  @-moz-keyframes wiggle
  {
      0% {-moz-transform: rotateZ(2deg);}
      50% {-moz-transform: rotateZ(-2deg);}
      100% {-moz-transform: rotateZ(2deg);}
  }
  @-o-keyframes wiggle
  {
      0% {-o-transform: rotateZ(2deg);}
      50% {-o-transform: rotateZ(-2deg);}
      100% {-o-transform: rotateZ(2deg);}
  }
  @keyframes wiggle
  {
      0% {transform: rotateZ(2deg);}
      50% {transform: rotateZ(-2deg);}
      100% {transform: rotateZ(2deg);}
  }
  
  .color-id:hover {
      -webkit-animation: wiggle 0.2s ease-out ;
      -moz-animation: wiggle 0.2s ease-out ;
      -o-animation: wiggle 0.2s ease-out ;
      animation: wiggle 0.2s ease-out ;
      cursor: pointer;
  } 