<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include ('./partials/head.ejs') %>
    <title>Colors</title>
 </head> 
    <body>
  <div class="container">
     <a href="/new"> Add New Color</a>      
      <% if (color.length > 0) { %>
        <div class="flex-grid">
          <% for (i= 0; i < color.length; i++) { %>
            <div class="item">
              <a  href="/color/<%= color.id %>">
                <div class="color-id" style="background: <%= color.value %>;">
                </div>
                  <h2><%= color.name %></h2>
                <% } %>
            </div>
        </div>
        <% } else { %>
          <div class="zero-colors">
            <p>No Colors</p>
          </div>
        <% } %>
    </div>
</body>
</html>